<tr id="<%= entry.id %>">
  <td><%= entry.name %></td>
  <td><%= entry.address %></td>
  <td><%= entry.phone %></td>
  <td><%= entry.email %></td>
  <td><%= link_to 'Show', entry %></td>
  <td>
    <%= link_to edit_entry_path(entry), remote: true do %>
      <button>Edit</button>
    <% end %>
  </td>
  <td>
    <%= link_to entry, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <button>Delete!</button>
    <% end %>
  </td>
</tr>