             
    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><%= link_to 'Home', home_index_path %>
                        </li>
                        <li>Contact</li>
                    </ul>

                </div>

                <div class="col-md-3">
                    <!-- *** PAGES MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Pages</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <%= link_to 'Text pages', home_text_path %>
                                </li>
                                <li>
                                    <%= link_to 'Contact', home_contact_path %>
                                </li>
                                <li>
                                    <%= link_to 'FAQ', home_faq_path %>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <!-- *** PAGES MENU END *** -->


                    <div class="banner">
                        <a href="#">
                            <%= image_tag "banner.jpg", class: "img-responsive" %>
                        </a>
                    </div>
                </div>

                <div class="col-md-9">


                    <div class="box" id="contact">
                        <h1>Contact</h1>

                        <p class="lead">Are you curious about something? Do you have some kind of problem with our products?</p>
                        <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>

                        <hr>

                        <div class="row">
                            <div class="col-sm-4">
                                <h3><i class="fa fa-map-marker"></i> Address</h3>
                                <p>13/25 New Avenue
                                    <br>New Heaven
                                    <br>45Y 73J
                                    <br>England
                                    <br>
                                    <strong>Great Britain</strong>
                                </p>
                                
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-phone"></i> Call center</h3>
                                <p class="text-muted">This number is toll free if calling from Great Britain otherwise we advise you to use the electronic form of communication.</p>
                                <p><strong>+33 555 444 333</strong>
                                </p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                                <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                                <ul>
                                    <li><strong><a href="mailto:">info@fakeemail.com</a></strong>
                                    </li>
                                    <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>
                                </ul>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                        <!-- /.row -->

                        <hr>

                        <div id="map">

                        </div>

                         
                        <hr>
                        <h2>Contact form</h2>
                        <div class="row">
<%= form_for :test, url: :home_contact_us_mailer, method: 'post' do |f| %>
                      
                            
                                <div class="col-sm-6">
                                    
                                        <label for="firstname">Firstname</label>
    <%= f.text_field :first_name, class: "form-control"  %>
                                        
                                    
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname">Lastname</label>
    <%= f.text_field :last_name, class: "form-control"  %>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    
                                        <label for="email">Email</label>
    <%= f.text_field :email, class: "form-control"  %>
                                        
                                    
                                </div>
                                <div class="col-sm-6">
                                    
                                        <label for="subject">Subject</label>
    <%= f.text_field :subject, class: "form-control"  %><br>
                                        
                                    
                                </div>
                                <div class="col-sm-6">
                                    
                                        <label for="message">Message</label>
     <%= f.text_area :message, class: "form-control"  %><br>
                                        
                                    
                                </div>

                                <div class="col-sm-12 text-center">
                                <%= f.submit %>
                                    <i class="fa fa-envelope-o"></i>

                                </div>
                                <% end %>
                            </div>
                            <!-- /.row -->
                       


                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ46BfH57TltvW_pqOACKtTbyWF7z3i4s&callback=initMap" type="text/javascript"></script>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>


    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </div>