
 <%= form_for :contact,:html => {:multipart => true}, :remote => true do |form| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_email %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :contact_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
