<p id="notice"><%= notice %></p>
<% @product.avatars.each do |avatar| %>
	<%= image_tag avatar.avatar_url %>
<% end %>
<%= @product.title %>
<%= @product.price %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
