
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  
                <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <% if user_signed_in? %>
                        <li><%= link_to 'Log_Out', destroy_user_session_path, method: :delete %></li>
                    <% else %>
                        <li><%= link_to 'Log_In', new_user_session_path,  "data-toggle" => "modal", 'data-target' => '#login-modal' %></li>
                    <% end %>
                        <li><%= link_to 'Register', home_register_path %></li> 
                        <li><%= link_to 'Contact', home_contact_path %></li>
                        <li><a href="#">Recently viewed</a></li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <%= render 'users/sessions/new' %>
                    </div>
                </div>
            </div>
        </div>
    </div>    
                    


    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                    <%= image_tag "logo.png", class: "hidden-xs" %>
                    <%= image_tag "logo-small.png", class: "visible-xs" %>
                    <span class="sr-only">Shopping - go to homepage</span>
                </a>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><%= link_to 'Home', home_index_path %>
                    </li>
                    <li><%= link_to 'Entries', entries_path %>
                    </li>
                    <li><%= link_to 'Products', products_path %></li>
                    <li><%= link_to 'Contact', contacts_path %></li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Men <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Clothing</h5>
                                            <ul>
                                                <li><%=link_to "T-shirts", home_category_path %>
                                                </li>
                                                <li><%=link_to "Shirts", home_category_path %>
                                                </li>
                                                <li><%=link_to "Pants", home_category_path %>
                                                </li>
                                                <li><%=link_to "Accessories", home_category_path %>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Shoes</h5>
                                            <ul>
                                                <li><%=link_to "Trainers", home_category_path %>
                                                </li>
                                                <li><%=link_to "Sandals", home_category_path %>
                                                </li>
                                                <li><%=link_to "Hiking shoes", home_category_path %>
                                                </li>
                                                <li><%=link_to "Casual", home_category_path %>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Accessories</h5>
                                            <ul>
                                                <li><%=link_to "Trainers", home_category_path %>
                                                </li>
                                                <li><%=link_to "Sandals", home_category_path %>
                                                </li>
                                                <li><%=link_to "Hiking shoes", home_category_path %>
                                                </li>
                                                <li><%=link_to "Casual", home_category_path %>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Featured</h5>
                                            <ul>
                                                <li><%=link_to "Trainers", home_category_path %>
                                                </li>
                                                <li><%=link_to "Sandals", home_category_path %>
                                                </li>
                                                <li><%=link_to "Hiking shoes", home_category_path %>
                                            </ul>
                                            <h5>Looks and trends</h5>
                                            <ul>
                                                <li><%=link_to "Trainers", home_category_path %>
                                                </li>
                                                <li><%=link_to "Sandals", home_category_path %>
                                                </li>
                                                <li><%=link_to "Hiking shoes", home_category_path %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Ladies <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Clothing</h5>
                                            <ul>
                                                <li><%=link_to "T-shirts", home_category_path %>
                                                </li>
                                                <li><%=link_to "Shirts", home_category_path %>
                                                </li>
                                                <li><%=link_to "Pants", home_category_path %>
                                                </li>
                                                <li><%=link_to "Accessories", home_category_path %>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Shoes</h5>
                                            <ul>
                                                <li><%=link_to "Trainers", home_category_path %>
                                                </li>
                                                <li><%=link_to "Sandals", home_category_path %>
                                                </li>
                                                <li><%=link_to "Hiking shoes", home_category_path %>
                                                </li>
                                                <li><%=link_to "Casual", home_category_path %>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Accessories</h5>
                                            <ul>
                                                <li><%=link_to "Trainers", home_category_path %>
                                                </li>
                                                <li><%=link_to "Sandals", home_category_path %>
                                                </li>
                                                <li><%=link_to "Hiking shoes", home_category_path %>
                                                </li>
                                                <li><%=link_to "Casual", home_category_path %>
                                                </li>
                                                <li><%=link_to "Hiking shoes", home_category_path %>
                                                </li>
                                                <li><%=link_to "Casual", home_category_path %>
                                                </li>
                                            </ul>
                                            <h5>Looks and trends</h5>
                                            <ul>
                                                <li><%=link_to "Trainers", home_category_path %>
                                                </li>
                                                <li><%=link_to "Sandals", home_category_path %>
                                                </li>
                                                <li><%=link_to "Hiking shoes", home_category_path %>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="banner">
                                                <a href="#">
                                                  <%= image_tag "banner.jpg", class: "img-responsive" %>
                                                </a>
                                            </div>
                                            <div class="banner">
                                                <a href="#">
                                                    <%= image_tag "banner2.jpg", class: "img-responsive" %>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Template <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Shop</h5>
                                            <ul>
                                                <li><%=link_to "Homepage", home_index_path %>
                                                </li>
                                                <li><%=link_to "Category - sidebar left", home_category_path %>
                                                </li>
                                                <li><%= link_to 'Category - sidebar right', home_category_right_path %></a>
                                                </li>
                                                <li><%= link_to 'Category - full width', home_category_full_path %>
                                                </li>
                                                <li><%=link_to "Product detail", products_path %>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>User</h5>
                                            <ul>
                                                <li><%=link_to "Register / login", new_user_session_path %>
                                                </li>
                                                <li><%= link_to 'Orders history', home_customer_orders_path %>
                                                </li>
                                                <li><%= link_to 'Order history detail', home_customer_order_path %>
                                                </li>
                                                <li><%= link_to 'Wishlist', home_customer_wishlist_path %>
                                                </li>
                                                <li><%= link_to 'Customer account / Change password', home_customer_account_path %>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Order process</h5>
                                            <ul>
                                                <li><%= link_to 'Shopping Cart', home_basket_path %>
                                                </li>
                                                <li><%= link_to 'Checkout - step 1', home_checkout1_path %>
                                                </li>
                                                <li><%= link_to 'Checkout - step 2', home_checkout2_path %>
                                                </li>
                                                <li><%= link_to 'Checkout - step 3', home_checkout3_path %>
                                                </li>
                                                <li><%= link_to 'Checkout - step 4', home_checkout4_path %>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Pages and blog</h5>
                                            <ul>
                                                <li><%= link_to 'Blog', home_blog_path %>
                                                </li>
                                                <li><%= link_to 'Blog-Post', home_post_path %>
                                                </li>
                                                <li><%= link_to 'FAQ', home_faq_path %>
                                                </li>
                                                <li><%= link_to 'Text page', home_text_path %>
                                                </li>
                                                <li><%= link_to 'Text page - right sidebar', home_text_right_path %>
                                                </li>
                                                <li><%= link_to '404 page', home_error_path %>
                                                </li>
                                                <li><%= link_to 'Contact', home_contact_path %>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    <span class="hidden-sm">
                        <i class="fa fa-shopping-cart"><%= link_to '3 items in cart', home_basket_path, class: "btn btn-primary navbar-btn" %>
                        </i>
                    </span>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->
